/*import my fav fonts and my color palette*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://unpkg.com/@rose-pine/palette/css/rose-pine.css");

/* responsivness */
@media (max-width: 1250px) {
    .card {
        height: auto !important;
        width: auto !important;
    }
    #skills {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 0% !important;
    }
}

/*assign colors to my variables*/
:root {
    --background-color: var(--rp-main-base);
    --surface-color: var(--rp-main-surface);
    --muted-color: var(--rp-main-muted);
    --text-color: var(--rp-main-text);
    --love-color: var(--rp-main-love);
    --gold-color: var(--rp-main-gold);
    --rose-color: var(--rp-main-rose);
    --iris-color: var(--rp-main-iris);
    --pine-color: var(--rp-main-pine);
    --foam-color: var(--rp-main-foam);
    --overlay-color: var(--rp-main-overlay);
    --big-card-width: 65%;
    --small-card-width: 25%;
}

/*reset css*/
* {
    animation: spawn 2s;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

html {
    background-color: var(--background-color);
}

.body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
    width: 100%;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.card {
    background-color: var(--surface-color);
    border-radius: 25px;
    min-height: 150px;
    min-width: 150px;
    margin: 10px;
    display: flex;
}

#pfp {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
}

#info {
    width: var(--small-card-width);
    display: flex;
    flex-direction: column;
    padding: 12px 20px 20px 20px;
    color: var(--love-color);
}

#info > h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--rose-color);
}

#info a {
    color: var(--love-color);
}

#skills {
    margin-left: 5.75%;
    display: flex;
    flex-direction: row;
}

.skill-content {
    background-color: var(--overlay-color);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 130px;
    margin: 10px;
}
.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-item h4 {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

#formation {
    width: var(--big-card-width);
}
#formation > p {
    margin-top: 20px;
}

#hobbie {
    width: var(--small-card-width);
}

#hobbie > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.content {
    color: var(--iris-color);
    display: flex;
    flex-direction: column;
    padding: 12px 20px 20px 20px;
    justify-content: flex-start;
    align-items: center;
    height: 65%;
}

.content > h2 {
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    font-weight: 400;
}

.content p:not(:last-child) {
    margin-bottom: 10px;
}

.content p > span {
    color: var(--foam-color);
    text-align: left;
    margin: 20px 0px 20px 0px;
}

@keyframes spawn {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.open {
    color: var(--text-color);
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

#links-skills.skill-content {
    display: flex;
    flex-direction: column;
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    gap: 0px 0px;
    grid-template-areas:
        "profile skills skills"
        "formation formation hobbies";
}
.skills {
    grid-area: skills;
}
.profile {
    grid-area: profile;
}
.formation {
    grid-area: formation;
}
.hobbies {
    grid-area: hobbies;
} */
